<h1>Pipes</h1>

<p>{{username | lowercase}}</p> <!-- toLocaleLowerCase -- transforma as letras em minúscula -->

<p>{{username2 | uppercase}}</p> <!-- Deixa todas as letras maiúsculas -->

<p> {{nums | json}} </p> <!-- json formata de uma maneira mais bonita na tela. -->

<p> {{obj | json}} </p> <!-- Quando tenta colocar o objeto puro na tela, sem ser o console.log, ele retornar "Object Object" -->

<p> {{hoje | date}} </p> <!-- É possível formatar as datas, através do "date" -->

<p>{{hoje | date: 'dd/MM/yyyy hh:mm:ss' : ''}}</p> <!-- para passar mais parâmetros, basta colocar : '' -->

<p>{{hoje | date: 'hh:mm:ss' }}</p>

<p> {{50 | currency: 'BRL'}} </p> <!-- Transformando em moeda -->

<p>
  <b>Soma = </b> {{nums | pipeG:3}} <!-- através da função pipeG, que criei -->
</p>

<!-- Conteúdo localStorage -->
<h1>Conteúdo localStorage </h1>

<div class="wrapper">

<h2>LocalStorage</h2>

  <mat-form-field>
    <mat-label>Digite algo</mat-label>
    <input type="text" matInput placeholder="Digite algo aqui" #inpt (keyup.enter)="salvarNoLocalStorage(inpt.value)">
  </mat-form-field>

  <p *ngFor="let dado of dadoLocalStorage; let i = index"
  (click)="deletarDoLocalStorage(i)"
  style="cursor: pointer;"
  >
    <b>{{ dado | json}}</b>

  </p>
</div>